*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    /* font-family: var(--font-lato); */
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black;
}

.header-wrapper {
    /* background: gold; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;

    margin-top: 30px;
}

.header-top .header-top-left img{
    height: 50px;
}

.header-top .header-top-right{
    display: flex;
    align-items: center;
}

.header-top-right .g20 img{
    height: 50px;
    margin: 0px 16px;
}

/* idk header */

    .idk-wrapper hr{
        border-width: 0.5px;
    }

    .idk-wrapper{
        display: flex;
        flex-direction: column;
    }

    .idk-wrapper .top{
        display: flex;
        justify-content: space-between;

        margin: 10px 0px;
    }

    .idk-wrapper .top .text-size {
        display: flex;
        align-items: center;
        width: 3.5em;
        justify-content: space-between;
    }

    .idk-wrapper .top .dark-mode {
        display: flex;
        align-items: center;
    }

    .idk-wrapper .top .dark-mode .light {
        padding: 2px 5px;
        margin: 0px 5px;
        border: 2px inset #0067B3;
        border-radius: 2px;
    }

    .idk-wrapper .top .dark-mode .dark {
        padding: 2px 5px;
        margin: 0px 5px;
        border: 2px inset #0067B3;
        background: #0067B3;
        border-radius: 2px;
        color: white;
    }

    .idk-wrapper .top .language {
        display: flex;
        align-items: center;
        width: 4em;
        justify-content: space-between;
    }

    /* bottom */

    .idk-wrapper .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 10px 0px;
    }

    .idk-wrapper .space-between {
        margin: 0px 8px;
    }

    .idk-wrapper .bottom .space-between{
        font-size: 14px;
    }

.header-top .header-top-right .search{
    margin: 10px;
}

@media (max-width: 1020px){
    .header-top{
        width: 98%;
    }

    .header-top .header-top-left img{
        height: 35px;
    }

    .header-top-right .search{
        display: none;
    }
    .header-top-right .idk-wrapper{
        display: none;
    }
}

@media(max-width:600px){
    .header-top-right .g20 img{
        height: 30px;
    }
}


/* ______________________ */
        /* bottom */
/* ______________________ */

.head-arrow{
    margin: 0px 5px;
}
.body img.head-arrow{
    rotate: -90deg;
}

/* .body .head-arrow{display: none;}
.body .head-sub:hover + .head-arrow{display: block;} */

.header-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    /* row-gap: 10px; */
}

.header-bottom .head {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.header-bottom .body{
    display: none;
    /* min-width: 160px; */
    position: absolute;
}

.header-bottom .body {
    display: none;
  }
  
/* hover behaviour */

.header-bottom .head:hover{
    font-weight: 600;
    padding: 5px 3px;
}
.header-bottom .head:hover + .body {
    display: block;
}

.header-bottom .body:hover{
    display: block;
}


    /* sub coding */

    .element-sub{
        display: flex;
        flex-direction: row;
    }

    .header-bottom .head-sub {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        /* padding: 5px; */
    }

    .header-bottom .body-sub{
        display: flex;
        flex-direction: column;
        display: none;

        /* min-width: 160px; */
        position: absolute;
        left:100%;
    }

    /* hover behaviour */

    .header-bottom .head-sub:hover{
        font-weight: 600;
    }
    .header-bottom .head-sub:hover + .body-sub {
        display: flex;
    }

    .header-bottom .body-sub:hover{
        display: flex;
    }

    .header-bottom .head-sub-sub:hover{
        font-weight: 600;
    }

/* decorations */

.head, .head-sub , .head-sub-sub{
    font-size: 16px;
}

.body, .body-sub{
    background: #0067B3;
    min-width: 100px;
    width: auto;
}

.head-sub , .head-sub-sub {
    padding: 8px 12px;
    padding-bottom: 0px;
}

.body, .body-sub{
    padding-bottom: 12px;
    max-width: fit-content  ;
    min-width: 200px;
}

.element-sub{
    width: 100%;
}
